<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./layout/head')%>
    <link rel="stylesheet" href="styles/modules.css">
</head>

<body>


    <header>
        <%- include('./header')%>
        <h1><%= book.length %>saved books </h1>
    </header>

    <main>

        <% book.forEach( insert => { %>
        <div>
            <img src="<%= insert.image_url %>">
            <h2><%= insert.title %></h2>
            <h3><%= insert.author %></h3>
            <p><%= insert.description %></p>
            <p><%= insert.isbn %></p>
            <p><%= insert.bookshelf %></p>
            <a href="/books/<%= insert.id%"><button>View Details</button></a>

</div>
            <% }) %>
      
    </main>
    <%- include('./footer')%>
</body>

</html>