<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../layout/head')%>
    <!-- <link rel="stylesheet" href="styles/modules.css"> -->
</head>

<body>


    <header>
        <%- include('../layout/header')%> 
        <h2> <%= counter%> Saved Books</h2>
    </header>

    <main>
        <section>
            <% books.forEach( book => {%>
            <article>
                <img src="<%= book.image_url %>">
                <h4>Tilte: <span><%= book.title %></span></h4>
                <h3><%= book.author %></h3>
                <button type="submit"><a class="bookBtn" href="/books/<%= book.id%>">View Details</a></button>
            </article>
            <% }) %>
      </section>
    </main>
    <%- include('../layout/footer')%>
</body>

</html>